@font-face {
   font-family: RurCustom; 
   src: url('../fonts/RegencyScriptFLF.ttf');
} 

.q-head {
	width: 100%;
	height: 600px;
	background: url('../images/theater2.jpg') no-repeat center -400px;
	padding-top: 60px;
	color: #db3227;
	position: relative;
	box-shadow: 0px 2px 2px #888888;
}

.q-head .q-head-cortain {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 600px;
	background: #000;
	opacity: 0.6;
    filter: alpha(opacity=60);
}

.q-head-title-content {
	display: inline-block;
	color: #fff;
	font-family: 'RurCustom';
	margin-left: 25px;
}

.q-head-title-content h1 {
	font-size: 6em;
	margin: 0;
}

.q-head-title-content p {
	font-size: 3em;
	margin: -25px 0 0 0;

}

.q-head .q-menu a {
	color: #fff;
	font-family: 'RurCustom';
	font-size: 2.8em;
}

.q-head .q-menu a:hover {
	color: #e09a1f;
	text-decoration: none;
}

.q-menu a.btn-link {
  color: #fff;
}

.q-slogan {
	padding-top: 150px;
  text-align: center;
  font-size: 4.5em;
  font-family: 'RurCustom';
  color: #e09a1f;
}

.q-section {
  margin-top: 50px;
}


.q-gallery .row {
  padding-bottom: 25px;
}

.q-gallery img {
  width: 100%;
}

.q-contacts {
	background: #0c0c0c;
	color: #ccc;
  padding-bottom: 50px;
}








.qFlexHead {
	display: none;
	position: fixed;
	top: 0;
	z-index: 100;

	width: 100%;
	height: 100px;
	
	background: url('../images/theater2.jpg') no-repeat center -400px;

	font-family: 'RurCustom';
	color: #e09a1f;
	box-shadow: 0px 2px 2px #888888;
}

.qFlexHead .qCortain {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100px;
	background: #000;
	opacity: 0.7;
    filter: alpha(opacity=70);
}

.qFlexHead .qTitle {
	display: inline-block;
	margin: 5px 0 0 20px;
	color: #fff;
}

.qFlexHead .qTitle h1 {
	margin: 0;
	font-size: 4em;
}

.qFlexHead .qTitle p {
	margin: -25px 0 0 0;
	font-size: 2.5em;
}

.qFlexHead .qMenu {
	margin-top: 25px;
}

.qFlexHead .qMenu a,
.qFlexHead .qMenu a:visited {
	color: #fff;
	font-family: 'RurCustom';
	font-size: 2.7em;
	text-decoration: none;
}

.qFlexHead .qMenu a:hover {
	color: #e09a1f;
	text-decoration: none;
}


.qBiography h1.q-name {
	font-family: 'RurCustom';
	font-size: 6em;
	margin-top: -10px;
}

.qBiography h3.q-name {
	font-family: 'RurCustom';
	font-size: 3em;
	margin-top: -20px;
}

.qBiography .q-description p {
	font-size: 1.2em;
	text-indent: 15px;
}

.qBiography .qBiographyList h1 {
	padding-bottom: 20px;
}

/* ***** */

.qRecordings {
	background: #f3f3f3;
	padding: 20px 0;
}

.qRecordings iframe {
	width: 100%;
	height: 166px;
  }
  
  .ySectionName {
	font-family: 'RurCustom';
	font-size: 6em;
  }