<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="files/css/bootstrap.min.css" />
  <link rel="stylesheet" href="files/css/bootstrap-theme.min.css" />
	<link rel="stylesheet" href="files/css/styles.css" />
	<title>Irina Rurac :: Mezzo Soprano</title>
</head>

<body ng-app="app">
<div data-spy="scroll" data-offset="0">

  <!-- Header -->
	<div id="head" class="q-head">
		<div class="q-head-cortain"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<img src="files/images/mic.png" alt="Opera Singer" class="img-circle q-mic" />
					<h1>Irina Rurac</h1>
					<p class="lead">Mezzo Soprano</p>
					<div class="clearfix"></div>
				</div>
				<div class="col-md-6 q-menu">
          <div class="btn-toolbar pull-right">
            <a class="btn btn-link" href="#head">Home</a>
            <a class="btn btn-link" href="#biography">Biography</a>
            <a class="btn btn-link" href="#recordngs">Recordings</a>
            <a class="btn btn-link" href="#gallery">Gallery</a>
            <a class="btn btn-link" href="#contacts">Contacts</a>
          </div>
          <div class="clearfix"></div>
				</div>
			</div>
			<br /><br /><br />
			<br /><br /><br />
			<br /><br /><br />
			<br /><br />
			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-md-8">
          <p class="q-slogan">My Slogan Comes Here</>
				</div>
			</div>
		</div>
	</div>

	<!-- Biography -->
	<div id="biography" class="q-biography q-section">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<img src="files/images/profile.jpg" alt="Irina Rurac Profile Photo" class="img-thumbnail" />
				</div>
				<div class="col-md-8">
          <h1>Irina Rurac </h1>
          <h3>Mezzo Soprano</h3>
          <br />
					<p class="lead"><em>Born in 1988 in city Chisinau, Repulic of Moldova.</em>
					<br /><em>From earliest years had a passion to sing and collect flowers.</em>
					<br /><em>Later the passion lead her to attend the "Academy of Music, Theater and Fine Arts" where her talent had an exponential growth!</em></p>
				</div>
			</div>
			<hr />
			<div class="row">
				<div class="col-md-12">
					<h1>Repertoire</h1>
					<br />
					<dl class="row">
						<dt class="col-md-3">Rusalka</dt>
						<dd class="col-md-9">
							<p>
								<strong><em>National Theater - Prague</em></strong><br />
								Debutted in role of 3rd Woman<br />
								<em>November 2015</em>
							</p>
						</dd>

						<dt class="col-md-3">Carmen</dt>
						<dd class="col-md-9">
							<p>
								<strong><em>Hibernia Theater - Prague</em></strong><br />
								Debutted in role of Carmen<br />
								<em>November 2014</em>
							</p>
						</dd>

						<dt class="col-md-3">Il mondo della luna (G.Haydn)</dt>
						<dd class="col-md-9">
							<p>
								<strong><em>Ticha Opera - Prague</em></strong><br />
								Debutted in role of Ernesto<br />
								<em>July 2014</em>
							</p>
						</dd>
					</dl>
				</div>
			</div>
		</div>
	</div>

  <!-- Recordings -->
	<div id="recordngs" class="q-recordngs q-section">
		<div class="container">
			<h1>Recordings</h1>
			<br />
			<div class="row">
				<div class="col-md-6">
					<p><strong>Aria Liubasa - Kozak</strong> <em>(August 2017)</em></p>
					<iframe scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/340888327&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
					<div class="clearfix"></div>
					<br /><br />
				</div>
				<div class="col-md-6">
					<p><strong>Aria Liubasa - Kozak</strong> <em>(August 2017)</em></p>
					<iframe scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/340888674&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
					<div class="clearfix"></div>
					<br /><br />
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<p><strong>Recitativo &amp; Aria Eleonora</strong> <em>(August 2017)</em></p>
					<iframe scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/340909145&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
					<div class="clearfix"></div>
					<br /><br />
				</div>
				<div class="col-md-6">
					<p><strong>Eia Mater</strong> <em>(July 2016)</em></p>
					<iframe scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/266513457&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
					<div class="clearfix"></div>
					<br /><br />
				</div>
			</div>
		</div>
	</div>

  <!-- Gallery -->
	<div id="gallery" class="q-gallery q-section">
		<div class="container">
      <h1>My Photos</h1>
      <br />
      <div ng-controller="GalleryController as gallery">
        <div class="row" ng-repeat="row in gallery.data">
          <div class="col-md-4" ng-repeat="item in row">
            <img src="{{ item.url }}" alt="" class="img-thumbnail" />
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
		</div>
	</div>

  <!-- Contacts -->
	<div id="contacts" class="q-contacts q-section">
		<div class="container">
			<h1>Contact me</h1>
      <br />
      <div class="row">
        <div class="col-md-8">
          <h4>Tel: +420 736-503-438</h4>
          <h4>Email: irina.ruracel@gmail.com</h4>
        </div>
      </div>

		</div>
	</div>
</div>

  <script src="files/js/jquery-3.2.1.min.js"></script>
  <script src="files/js/bootstrap.min.js"></script>
  <script src="files/js/angular.min.js"></script>
  <script src="files/js/code.js"></script>

</body>
</html>